<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.home}/logs/Kafka.log</File>
        <encoder>
            <pattern>%-5p %d{yyyy-MM-dd HH:mm:ss.SSS 'GMT'Z} %c{1} [%t] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/Kafka.log.%d{'.'yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <logger name="com.liferay.portal.log.SecurityLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.infographic.engine.logger.InfographicEngineLogger" additivity="false" level="DEBUG">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.logger.BiitLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.AutofillDataLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="net.sf.ehcache.distribution" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.drools.logger.DroolsEngineLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.logger.BiitCommonLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.FormRunnerCopyLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.type" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.hql.ast.AST" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.tool.hbm2ddl" additivity="false" level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.mchange.v2.c3p0" level="OFF">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="net.sf.ehcache.config" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.QrGeneratorLogger" additivity="false" level="DEBUG">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usmo.logger.DroolsClientLogger" additivity="false" level="DEBUG">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.biit.usmo.logger.TasksLogger" additivity="false" level="INFO">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.hibernate.cache" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.bean.loader.logger.BeanLoaderLogger" additivity="false" level="INFO">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.mchange.v2.resourcepool" level="OFF">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.UsmoLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.liferay.log.LiferayClientLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.hql" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.UserGuardLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.SQL" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.vaadin.logger.VaadinLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.InfographicJsLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.BasicLogging" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.RestClientLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.form.runner.logger.FormRunnerLogger" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="net.sf.ehcache" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.jdbc" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="net.sf.ehcache.code" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.baseform.drools.logger.BaseFormDroolsEngineLogger" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </logger>
    <logger name="com.biit.usmo.logger.AnamneseLogger" additivity="false" level="INFO">
        <appender-ref ref="DAILY"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY"/>
    </root>
</configuration>
