<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="D3-clientTests">
    <test name="D3-clientTests" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="kafkaEvents"/>
                <include name="ksqlClient"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.kafka.tests.KafkaTests"/>
            <class name="com.biit.kafka.tests.KsqlClientTest"/>
        </classes>
    </test>
</suite>
